*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    max-width: 1142px;
    padding: 0 16px;
    margin: 0 auto;
}
a{
    text-decoration: inherit;
    color: inherit;
}
li{
    list-style: none;
}
span{
    color: inherit;
}
button{
    cursor: pointer;
}
img{
    max-width: 100%;
}